.projects-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px 0 0 0;
}

.projects-container > div.react-reveal  {
    margin: 0 auto 10px;
}

div.react-reveal > img {
    width: 260px;
    height: 150px;
}

div.react-reveal > p {
    padding: 0 5px;
}

.code-buttons {
    display: flex;
    align-self: flex-end;
    justify-content: center;
}

.project-button {
    width: 60px;
    padding: 10px;
    border: 2px solid #373737;
    margin: 10px 10px 0 0;
    align-self: flex-end;
    text-decoration: none;
    background-color:#2f3c66;
    color: #ffffff;
    border-radius: 5px;
}

.project-button:hover{
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    .projects-container > div.react-reveal  {
        width: 600px;
    }

    div.react-reveal > img {
        width: 500px;
        height: 300px;
    }

    h4 {
        font-size: 28px;
    }

    div.react-reveal > p {
        padding: 0 20px;
    }
    .project-button {
        margin: 20px;
        width: 140px;
        font-size: 20px;
    }
}

@media screen and (min-width:1024px){
    .projects-container {
        padding-top: 100px;
    }

    .projects-container > h1.react-reveal {
        margin: 0 0 50px 0;
    }

    .projects-container > div.react-reveal {
        margin-bottom: 50px;
    }
}