.projects-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px 0 0 0;
}

.project {
    /* height: 420px; */
    border: 3px solid red;
    margin: 0 auto 10px;
}

.project > img {
    width: 260px;
    height: 150px;
}

.project > p {
    padding: 0 5px;
}

.code-buttons {
    display: flex;
    align-self: flex-end;
    justify-content: center;

}

.project-button {
    width: 60px;
    padding: 10px;
    border: 2px solid #373737;
    margin: 10px 10px 0 0;
    align-self: flex-end;
    text-decoration: none;
    background-color:#2f3c66;
    color: #ffffff;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    .project {
        width: 300px;
    }
}