/* #3d404d, #ffffff, #2f3c66, #a5a5a5,  #373737 */

#home {
  height: 100vh;
  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1515462277126-2dd0c162007a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1288&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-container {
  height: 100vh;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.home-container > * {
  color: #ffffff;
  font-size: 22px;
  margin: 5px 0 0 0;
}

span {
    color: #FFFF00;
}

#home-button {
    text-decoration: none;
    border: 5px double black;
    border-radius: 8px;
    margin: 50px 0 0 0;
    padding: 10px;
    background-color: #ffffff;
    color: black;
}

#home-button:hover {
    background-color: #FFFF00;
    transform: scale(1.3);
}

/* #tsparticles {
    width: 100vw;
    height: 50vh;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
} */

@media screen and (min-width: 768px) {
  .home-container {
    width: 500px;
  }

  .home-container > h2, .home-container > h1 {
    font-size: 36px;
  }
}
