.sticky-wrapper {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #373737;
  justify-content: space-around;
}

.sticky-wrapper > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.fixed {
  animation-name: slide-down;
  animation-duration: 0.7s;
}

@keyframes slide-down {
  0% {
    transform: translateY(-400);
  }
  100% {
    transform: translateY(0);
  }
}
