.sticky-wrapper {
    position: relative;
    height: 4em;
}
  
/* .sticky .sticky-inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
} */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: aqua;
}

.fixed {
    transition: all 3.0s ease-in;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-400);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}